body {
    font-family: 'Montserrat', sans-serif;
    color: #777777;
    /* background-image: url("../images/halftone.png"); */
    background-color: #f5f3f3;
 }

/* Generic Container Styling */
.container {
    border-style: solid;
    border-color: #dddddd;
    border-width: 2px;
    background-color: #ffffff;
    width: 960px;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 10px;
}

.card {
    width: auto;
    border: 1px solid #999;
}

#aboutme-card {
    border-width: 0;
    border-bottom: 0.5px;
    border-bottom-color: #cec6c6;
    border-bottom-style: inset;
}

.card-header {
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: bold; 
    color: darkslategray;
    /* padding-left: 15px; */
    margin: 10px;
    background-color: inherit;
    border: none;
}

.card-text {
    font-size: 14px;
}

.floatImage {
    float:left;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    margin-bottom: 5px;
    margin-right: 5px;
    width: 175px; 
    height: 175px;
}

#portfolio-container {
    background-color: #f5f3f3;
    border: none;
}

#portfolio-card {
    border-width: 0;
    border-bottom: 0.5px;
    border-bottom-color: #cec6c6;
    border-bottom-style: inset;
}

#portfolio-card-title {
    text-align: center;
    font-weight: bold;
    font-size: 20px; 
}

/* Styling for the Contacts section */
#contact-card {
    border-width: 0;
    border-bottom: 0.5px;
    border-bottom-color: #cec6c6;
    border-bottom-style: inset;
}